<!DOCTYPE html>

<html lang="es" xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Soporte UNLa</title>
	<link rel="stylesheet" th:href="@{/css/estiloTicketera.css}">

</head>

<body>

	<header>
		<div class="encabezado">
			<img src="/css/logo.png" alt="Logo UNLa" class="logo">
			<div class="titulo">
				<h1>Ticketera Soporte UNLa</h1>
				<p>Gestiona y da seguimiento a tus tickets de soporte técnico</p>
			</div>
		</div>
	</header>

	<nav>
		<a th:href="@{/}">Inicio</a>
	</nav>

	<main>
		<h2>Complete su perfil</h2>

		    <form action="#" th:action="@{/completarContacto}" method="post">
		        <input type="hidden" name="idPersona" th:value="${idPersona}" />
		        
				<p>
				  <label for="telefono">Teléfono</label>
				  <input type="number" id="telefono" name="telefono" required>
				</p>
				<p>
				  <label for="correo">Correo Electronico</label>
				  <input type="email" id="correo" name="correo" required>
				</p>
				<p>
				  <label for="contrasenia">Contraseña</label>
				  <input type="password" id="contrasenia" name="contrasenia" required>
				</p>
		        

		        <button type="submit">Guardar datos</button>
		    </form>

		    <p th:if="${mensaje}" th:text="${mensaje}" style="color: red;"></p>

	</main>

	<footer>
		&copy; 2025 Ticketera Soporte UNLa. Todos los derechos reservados.
	</footer>

</body>

</html>