<!DOCTYPE html>

<html lang="es" xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Soporte UNLa</title>
	<link rel="stylesheet" th:href="@{/estiloTicketera.css}">

</head>

<body>

	<header>
		<div class="encabezado">
			<img src="/logo.png" alt="Logo UNLa" class="logo">
			<div class="titulo">
				<h1>Ticketera Soporte UNLa</h1>
				<p>Gestiona y da seguimiento a tus tickets de soporte técnico</p>
			</div>
		</div>
	</header>

	<nav>
		<a th:href="@{/}">Inicio</a>
		<a th:href="@{/listaTickets}">Mis Tickets</a>
		<a th:href="@{/crearTicket}">Crear nuevo ticket</a>
		
	</nav>

	<main>
		<h2>Complete su perfil</h2>

		    <form action="#" th:action="@{/completar-registro}" method="post">
		        <input type="hidden" name="idPersona" th:value="${idPersona}" />
		        
		        <p>Telefono <input type="text" name="telefono" required></p>
		        <p>Correo Electronico <input type="email" name="email" required></p>
		       
		    

		        <button type="submit">Guardar datos</button>
		    </form>

		    <p th:if="${mensaje}" th:text="${mensaje}" style="color: red;"></p>

	</main>

	<footer>
		&copy; 2025 Ticketera Soporte UNLa. Todos los derechos reservados.
	</footer>

</body>

</html>