<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Soporte UNLa</title>
    <link rel="stylesheet" th:href="@{/estiloTicketera.css}">
</head>
<body>

    <header>
        <div class="encabezado">
            <img src="/logo.png" alt="Logo UNLa" class="logo">
            <div class="titulo">
                <h1>Ticketera Soporte UNLa</h1>
                <p>Gestiona y da seguimiento a tus tickets de soporte técnico</p>
            </div>
        </div>
    </header>

    <main>
        <h2>BIENVENIDO</h2>

        <div class="container">
            <img src="logo.png" width="500">

            <div class="buttons">
                <button type="button" class="btn" th:onclick="'window.location.href=\'' + @{/registro} + '\''">Registrarse</button>
                <button type="button" class="btn" th:onclick="'window.location.href=\'' + @{/login} + '\''">Iniciar Sesión</button>
            </div>
        </div>
    </main>

    <footer>
        &copy; 2025 Ticketera Soporte UNLa. Todos los derechos reservados.
    </footer>

</body>
</html>
