<!DOCTYPE html>

<html lang="es" xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Soporte UNLa</title>
	<link rel="stylesheet" th:href="@{/estiloTicketera.css}">

</head>

<body>

	<header>
	    <div class="encabezado">
			<img src="/logo.png" alt="Logo UNLa" class="logo">
	        <div class="titulo">
	            <h1>Ticketera Soporte UNLa</h1>
	            <p>Gestiona y da seguimiento a tus tickets de soporte técnico</p>
	        </div>
	    </div>
	</header>

	<nav>
	    <a href="#">Inicio</a>
		<a th:href="@{/listaTickets}">Mis Tickets</a>
	    <a th:href="@{/crearTicket}">Crear nuevo ticket</a>
	    <a href="#">Soporte</a>
	</nav>

	<main>
		<h1>Creacion de Ticket</h1>
		<p>Por favor completar todos los campos</p>

		<form th:action="@{/crearTicket}" method="post">
			<p>Titulo: <input type="text" name="titulo" required></p>
			<p>Descripcion: <input type="text" name="descripcion" required></p>

			<button type="submit">Continuar</button>
			
			</form>

						<p th:if="${mensaje}" th:text="${mensaje}" style="color: red;"></p>

	</main>

	<footer>
		&copy; 2025 Ticketera Soporte UNLa. Todos los derechos reservados.
	</footer>

</body>

</html>