<!DOCTYPE html>

<html lang="es" xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Soporte UNLa</title>
	<link rel="stylesheet" th:href="@{/estiloTicketera.css}">

</head>

<body>

	<header>
	    <div class="encabezado">
			<img src="/logo.png" alt="Logo UNLa" class="logo">
	        <div class="titulo">
	            <h1>Ticketera Soporte UNLa</h1>
	            <p>Gestiona y da seguimiento a tus tickets de soporte técnico</p>
	        </div>
	    </div>
	</header>
	<nav>
		<a th:href="@{/}">Inicio</a>
		<a th:href="@{/listaTickets}">Mis Tickets</a>
	    <a th:href="@{/crearTicket}">Crear nuevo ticket</a>
	    
	</nav>

	<main>
		<h1>Listado de Tickets</h1>

		<table>
		    <thead>
		        <tr>
		            <th>ID</th>
		            <th>Título</th>
		            <th>Descripción</th>
		            <th>Fecha de Creación</th>
		           <th>Fecha de Cierre</th>
				   <th>Estado</th>
		           <!-- <th>Prioridad</th> --> 
		            <th>Tipo de Ticket</th> 
		        </tr>
		    </thead>
		    <tbody>
		        <tr th:each="ticket : ${tickets}">
		            <td th:text="${ticket.idTicket}"></td>
		            <td th:text="${ticket.titulo}"></td>
		            <td th:text="${ticket.descripcion}"></td>
		            <td th:text="${ticket.fechaCreacion}"></td>
		           <td th:text="${ticket.fechaCierre != null ? ticket.fechaCierre : '---'}">---</td>
		          <!---- <td th:text="${ticket.prioridad.tipo}"></td> -->
		            <td th:text="${ticket.estado.tipo}"></td>
		       <td th:text="${ticket.tipoDeTicket.tipo}"></td>     
		        </tr>
		    </tbody>
		</table>

						<p th:if="${mensaje}" th:text="${mensaje}" style="color: red;"></p>

	</main>

	<footer>
		&copy; 2025 Ticketera Soporte UNLa. Todos los derechos reservados.
	</footer>

</body>

</html>