<!DOCTYPE html>

<html lang="es" xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Soporte UNLa</title>
	<link rel="stylesheet" th:href="@{/css/estiloTicketera.css}">

</head>

<body>

	<header>
		<div class="encabezado">
			<img src="/css/logo.png" alt="Logo UNLa" class="logo">
			<div class="titulo">
				<h1>Ticketera Soporte UNLa</h1>
				<p>Gestiona y da seguimiento a tus tickets de soporte técnico</p>
			</div>
		</div>
	</header>

	<nav>
		<div class="nav-links">
		<a th:href="@{/}">Inicio</a>
		<a th:href="@{/listaTickets}">Mis Tickets</a>
		<a th:href="@{/crearTicket}">Crear nuevo ticket</a>
		</div>
	</nav>

	<main>
		<h3>¡El ticket se ha creado con exito!</h3>
		    <p>En breve recibira respuesta de nuestro soporte.</p>
	</main>

	<footer>
		&copy; 2025 Ticketera Soporte UNLa. Todos los derechos reservados.
	</footer>

</body>

</html>