<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Soporte UNLa</title>
	<link rel="stylesheet" th:href="@{/estiloTicketera.css}">

</head>
<body>

	<header>
	    <div class="encabezado">
			<img src="/logo.png" alt="Logo UNLa" class="logo">
	        <div class="titulo">
	            <h1>Ticketera Soporte UNLa</h1>
	            <p>Gestiona y da seguimiento a tus tickets de soporte técnico</p>
	        </div>
	    </div>
	</header>

    <nav>
		<a th:href="@{/}">Inicio</a>
		<a th:href="@{/listaTickets}">Mis Tickets</a>
        <a th:href="@{/crearTicket}">Crear nuevo ticket</a>
    </nav>

    <main>
        <h2>Bienvenido al sistema de soporte UNLa</h2>
        <p>Desde aquí puedes reportar problemas, consultar el estado de tus tickets o comunicarte con nuestro equipo técnico.</p>
        <!--<button class="btn" onclick="alert('Redirigiendo a creación de ticket...')">Crear nuevo ticket</button>-->
		<button type="button" class="btn" th:onclick="|window.location.href='@{/crearTicket}'|">Crear nuevo ticket</button>
		
    </main>

    <footer>
        &copy; 2025 Ticketera Soporte UNLa. Todos los derechos reservados.
    </footer>

</body>
</html>